<div class="flex-wrapper-center">
  <div class="flex-item">
    <div class="scan-devices">
      {{checkout-input class="form-control" action='return'}}
      <div class="text-center">
        <i class="fa fa-archive"></i>
        <h3> Scan your device to return it </h3>
      </div>
    </div>
  </div>
</div>