<div class="flex-wrapper-center">
  <div class="flex-item">

    <div class="form-search">
      {{input type="search" class='form-control' value=search}}
      <i class="fa fa-lg fa-search"></i>
    </div>

  </div>
</div>