<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      {{#each category in controller}}
        {{#li-link-to href='category' model=category}} {{category.name}} {{/li-link-to}}
      {{/each}}
    </ul>
    <div>
      {{#link-to 'categories.new'}}
        <i class="fa fa-plus"></i> Create new category
      {{/link-to}}
    </div>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
